<!-- components/footer.html -->
<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <img src="../imag/icono1.png" alt="Bicicleta" class="footer-icon" />
    </div>

    <div class="footer-section about">
      <h4>Acerca de Nosotros</h4>
      <ul>
        <li><i class="fas fa-info-circle"></i> <a href="/components/sobreNosotros.html">Acerca de nosotros</a></li>
        <li><i class="fas fa-headset"></i> <a href="/components/contactanos.html">Contáctanos</a>

      </ul>
    </div>

    <div class="footer-section social">
      <h4>Nuestras Redes</h4>
      <ul>
        <li><i class="fab fa-whatsapp"></i> <a href="#">WhatsApp</a></li>
        <li><i class="fab fa-facebook"></i> <a href="#">Facebook</a></li>
        <li><i class="fab fa-instagram"></i> <a href="#">Instagram</a></li>
        <li><i class="fab fa-x-twitter"></i> <a href="#">X/Twitter</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <img src="../imag/icono2.png" alt="Scooter" class="footer-icon" />
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Sistema de Geolocalización. Todos los derechos reservados.</p>
  </div>
</footer>
