<!-- components/footer.html -->
<footer class="footer">
  <div class="footer-content">
    
    <div class="footer-section contacto">
      <h4>Contacto</h4>
      <ul>
        <li>
          <i class="fas fa-map-marker-alt"></i>
          Calle 2, Bajo Irpavi, EMI - La Paz
        </li>
        <li>
          <i class="fas fa-phone-alt"></i>
          <a href="tel:+34651941786">73544681</a>
        </li>
        <li>
          <i class="fab fa-whatsapp"></i>
          <a href="https://wa.me/34651941786" target="_blank">Iniciar chat con WhatsApp</a>
        </li>
        <li>
          <i class="fas fa-envelope"></i>
          <a href="mailto:info@movingbybike.com">info@gmail.com</a>
        </li>
        <li>
          <i class="fas fa-clock"></i>
          De Lunes a Viernes de 09:00 am a 20:00 am
        </li>
      </ul>
    </div>

    <div class="footer-section about">
      <h4>Acerca de Nosotros</h4>
      <ul>
        <li><i class="fas fa-info-circle"></i> <a href="/components/sobreNosotros.html">Acerca de nosotros</a></li>
        <li><i class="fas fa-headset"></i> <a href="/components/contactanos.html">Contáctanos</a></li>
      </ul>
    </div>

    <div class="footer-section social">
      <h4>Nuestras Redes</h4>
      <ul>
        <li><i class="fab fa-facebook"></i> <a href="#">Facebook</a></li>
        <li><i class="fab fa-instagram"></i> <a href="#">Instagram</a></li>
        <li><i class="fab fa-x-twitter"></i> <a href="#">X/Twitter</a></li>
      </ul>
    </div>

    <div class="left-section">
      <img src="/../imag/Logo_Blanco.png" alt="Logo ETS" class="logo-etsF">
    </div>

  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Sistema de Geolocalización. Todos los derechos reservados.</p>
  </div>
</footer>
