<!-- components/footer.html -->
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<footer class="footer">
  <div class="footer-content">

    <div class="footer-section contacto">
      <h4>Contacto</h4>
      <ul>
        <li>
          <i class="fas fa-map-marker-alt"></i>
          Calle 2, Bajo Irpavi, EMI - La Paz
        </li>
        <ul>
          <li>
            <i class="fas fa-phone-alt"></i>
            <a href="tel:+59173544681">+591 73544681</a>
          </li>
          <li>
            <i class="fab fa-whatsapp"></i>
            <a href="https://wa.me/59173544681" target="_blank">WhatsApp</a>
          </li>
          <li>
            <i class="fas fa-envelope"></i>
            <a href="mailto:carlymar204@gmail.com">BiciTrack@gmail.com</a>
          </li>
        </ul>
        <li>
          <i class="fas fa-clock"></i>
          De Lunes a Viernes de 09:00 am a 20:00 am
        </li>
      </ul>
    </div>

    <div class="footer-section about">
      <h4>Acerca de Nosotros</h4>
      <ul>
        <li><i class="fas fa-info-circle"></i> <a href="/components/sobreNosotros.html">Acerca de nosotros</a></li>
        <li><i class="fas fa-headset"></i> <a href="/components/contactanos.html">Contáctanos</a></li>
      </ul>
    </div>

    <div class="footer-section social">
      <h4>Nuestras Redes</h4>
      <ul>
        <li><i class="fab fa-facebook"></i> <a href="#">Facebook</a></li>
        <li><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/bici.track/">Instagram</a></li>
        <li><i class="fab fa-x-twitter"></i> <a href="https://x.com/BiciTrack56">X/Twitter</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Sistema de Geolocalización. Todos los derechos reservados.</p>
  </div>
</footer>