<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>Este va a ser el mapa XD</div>
    <button onclick="leerDocumentos()">Leer usuarios</button>
    <ul id="listaUsuarios"></ul>
</body>

<script src="https://www.gstatic.com/firebasejs/11.8.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/11.8.0/firebase-firestore-compat.js"></script>
<script type="module" src="/js/conexionFireBase.js"></script>
<script type="module" src=""></script>

</html>