<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/mapas.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="mapprincipal">
        <div class="titulo">
            <h2>Sistema de Alquiler - <strong>Visualización de transporte</strong></h2>
        </div>
        <div class="tarjetaMapaPrin">
            <div class="contmapa">
                <div id="map" class="mapa"></div>
            </div>
            <div id="coordenadas" class="coordenadas"></div>
        </div>
    </section>
    <section class="infoubicaciones">
        <div id="contetarjetasubi" class="contetarjetasubi">
        </div>
    </section>
</body>

<script src="https://www.gstatic.com/firebasejs/11.8.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/11.8.0/firebase-firestore-compat.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script type="module" src="/js/mapas.js"></script>

</html>