<!-- components/r6.html --> 
<link rel="stylesheet" href="../css/styles.css" />
<section class="pagina-transporte">

  <header class="header">
    <h2>Sistema de Alquiler - <strong>Puntos de control</strong></h2>
    <div class="filters">

      <select id="filterTipo">
        <option value="Todo">Todos</option>
        <option value="Bicicleta">Bicicletas</option>
        <option value="Patineta">Patinetas</option>
      </select>
      
      <select id="filterEstacion">
        <option value="Todo">Todas las estaciones</option>
        <option value="Calacoto">Calacoto</option>
        <option value="San Miguel">San Miguel</option>
        <option value="Achumani">Achumani</option>
        <option value="Obrajes">Obrajes</option>
        <option value="Cota Cota">Cota Cota</option>
        <option value="Següencoma">Següencoma</option>
        <option value="Irpavi">Irpavi</option>
        <option value="Los Pinos">Los Pinos</option>
        <option value="Chasquipampa">Chasquipampa</option>
      </select>      

      <select id="filterEstado">
        <option value="Todo">Todo</option>
        <option value="Disponible">Disponible</option>
        <option value="En uso">En uso</option>
        <option value="Mantenimiento">Mantenimiento</option>
      </select>
    </div>
  </header>

  <div class="product-grid" id="gridTransportes">
    <!-- Las tarjetas se cargarán aquí dinámicamente desde productos.json -->
  </div>
</section>