body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f1f5f9;
}

.mapaRegistro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.contenido {
    display: flex;
    flex-direction: row;
}

.sidebar {
    height: 100vmax;
    width: 250px;
    background-color: #1b2a47;
    color: #fff;
    padding-top: 60px;
    overflow-y: auto;
}

.sidebar .nav-link {
    color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar .nav-link:hover {
    color: #fff;
    background-color: #1c2e4a;
}

.submenu,
.subsubmenu {
    display: none;
    padding-left: 15px;
}

.submenu.open,
.subsubmenu.open {
    display: block;
}

.main-content {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.sidebar .menu-toggle {
    cursor: pointer;
}

.arrow {
    font-size: 0.9rem;
}