<link rel="stylesheet" href="HeaderInicio.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header class="header-pagos sticky-header small-header">
  <div class="left-section">
    <img src="../../imag/Logo_Blanco.png" alt="Logo ETS" class="logo-ets">
    <p id="nombrelogo">BICITRACK</p>
  </div>
  <nav class="navbar-pagos">
    <ul>
      <li><a href="AlquileresPagos.html">Alquileres y Pagos</a></li>
      <li><a href="HistorialViajes.html">Historial de Viajes</a></li>
      <li><a href="HistorialPagos.html">Historial de Pagos</a></li>
      <li><a href="MensajesMantenimiento.html">Mensajes de Mantenimiento</a></li>
    </ul>
  </nav>
  <div class="right-section">
    <button class="botonIR">Iniciar seccion</button>
    <button class="botonIR">Registrarse</button>
  </div>
</header>

<section id="resultadosBusqueda" style="display: none; padding: 1rem 2rem;">
  <h3>Resultados de búsqueda:</h3>
  <div id="listaResultados" class="grid-resultados"></div>
</section>
